<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fengluochuni.mapper.TempYwyMatchMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.fengluochuni.model.TempYwyMatch">
		<id column="id" property="id" />
		<result column="yyb_code" property="yybCode" />
		<result column="yyb_name" property="yybName" />
		<result column="jl_name" property="jlName" />
		<result column="jl_id" property="jlId" />
		<result column="create_time" property="createTime" />
		<result column="update_time" property="updateTime" />
		<result column="delete_flag" property="deleteFlag" />
		<result column="tsRefreshTime" property="tsRefreshTime" />
	</resultMap>

</mapper>
